body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 34px;
    font-weight: bold;
    color:black;
    background: url("../images/triviabackground.jpg");
    width:100%; 
    height:100%; 
    background-size: cover;
  }

header{
    font-size: 50px;
    font-weight: bold;
    color: blue;
    font-family: 'Courier New', Courier, monospace
}

.container-box{
    background:rgb(255,255,158);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    padding: 10px;
} 
    
.radio{
  margin-left: 10px;
}

.question{
    font-size: 15px;
    line-height: 30px;
    text-align: left;
}

p{
    list-style-type: none;
    text-align: left;
}

.btn-lg {
    padding: 6px 12px;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
    size: 200px;
    }
 
.result{
    text-align: center;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
}

#startGamebtn{
    font-size: 100px;
    padding: 10px 50px;
    border-radius: 20;
}

li{
    list-style: none;
}